@media (max-width: px) {}







@media (max-width: px) {}








@media (max-width: px) {}








@media (max-width: px) {}




<section id="us" class="us">
<section id="gallery" class="gallery">
<section id="catalog" class="catalog">
<section id="events" class="events section-offset">
<section id="projects" class="projects section-offset">
<section id="contacts" class="contacts section-offset">


Реализм
Тинторетто
Фридрих
Леонардо
Верроккьо

Импрессионизм
Моне
Сислей
Мане
Ренуар

Постимпрессионизм
Ван Гог
Сезанн
Гоген
Сёра

Авангард
Кандинский
Маринетти
Малевич
Пикассо


Футуризм
Карра
Прателла
Северини
Балла


realism
impressionism
post-impressionism
vanguard
futurism




C&nbsp;1400 по&nbsp;1499&nbsp;гг
C&nbsp;1500 по&nbsp;1599&nbsp;гг
C&nbsp;1600 по&nbsp;1699&nbsp;гг

C&nbsp;1700 по&nbsp;1799&nbsp;гг
C&nbsp;1800 по&nbsp;1899&nbsp;гг
C&nbsp;1900 по&nbsp;1999&nbsp;гг
C&nbsp;2000&nbsp;г




Бенедетто ди&nbsp;Биндо
Бергоньоне, Амброджо
Биссоло, Франческо
Больтраффио, Джованни
Бонсиньори, Франческо
Боттичини, Рафаэлло
Брамантино
Бреа, Людовико
Бьяджо д’Антонио Туччи

Веккьетта
Андреа Верроккьо
Доменико Гирландайо
Беноццо Гоццоли
Граначчи, Франческо
Грегорио ди&nbsp;Чекко
Джованни да&nbsp;Удине
Джованни ди&nbsp;Паоло
Джорджоне

Парентино, Бернардо
Пезеллино
Пьетро Перуджино
Перуцци, Бальдассаре
Пизанелло
Пинтуриккьо








Музей им. Щусева
с&nbsp;20&nbsp;марта по&nbsp;30&nbsp;апреля
Книжная гравюра в&nbsp;живом восприятии

Один из&nbsp;ведущих флорентийских художников Кватроченто, основатель художественной династии, которую продолжили его брат Давид и&nbsp;сын Ридольфо



ММОМА
24&nbsp;марта 19:00
«Открытая дискуссия». Дмитрий Петров и&nbsp;Сергей Ильин.

Высокий уровень вовлечения представителей целевой аудитории является чётким доказательством простого факта



Еврейский музей
с&nbsp;31&nbsp;марта по&nbsp;21&nbsp;апреля
Выставка &laquo;Формация 2020&raquo;

Идейные соображения высшего порядка, а&nbsp;также современная методология разработки играет важную роль в&nbsp;формировании глубокомысленных рассуждений



ММАМ
с&nbsp;8&nbsp;апреля по&nbsp;20&nbsp;мая

Один из&nbsp;ведущих флорентийских художников Кватроченто, основатель художественной династии, которую продолжили его брат Давид и&nbsp;сын Ридольфо



Третьяковка на&nbsp;Крымском валу
с&nbsp;30&nbsp;марта по&nbsp;30&nbsp;апреля
XXIV Международная биеннале молодого искусства

Внезапно, реплицированные с&nbsp;зарубежных источников, современные исследования







/* state  start */
:focus-visible {}

:hover {}

:active {}
/* state  finish */






:not(:active)



/* зона кликабельности ссылки:увеличить! */
.div {
  position: relative;
}

.a::before {
  content: ;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}


max-width: calc(363 * 100% / 1770);


.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
