@media (max-width: 1650px) {
  .route-list {
    flex-wrap: wrap;
    gap: 70px;
  }


  .contacts__content {
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;
    padding: 43px 0;
  }

  .contacts__place {
    margin-bottom: 4px;
  }

  .form {
    margin-bottom: 5px;
    padding: 0;
    width: 75%;
  }

  .form__btn {
    padding: 13px 42px;
  }


}





@media (max-width: 1300px) {

  .container {
    max-width: 955px;
  }

  .header__content {
    justify-content: space-between;
    padding: 29px 0;
  }

  /* .login, */
  .header2 {
    display: none;
  }



  .burger {
    position: relative;
    display: block;
    width: 36px;
    height: 28px;
    transition: 0.3s linear;
  }

  .burger::after {
    content: "";
    position: absolute;
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    border: 2px solid #9D5CD0;
    opacity: 0;
    transition: 0.3s linear;
  }

  .burger.focus-visible:not(:hover):not(:active)::after {
    opacity: 1;
  }

  .burger:hover .burger__line {
    background-color: #9D5CD0;
  }

  .burger__line {
    position: absolute;
    z-index: 1001;
    left: 0;
    height: 3.6px;
    background-color: #ffffff;
    transition: 0.3s linear;
  }

  .burger__line:nth-child(1) {
    width: 100%;
    top: 0;
  }

  .burger__line:nth-child(2) {
    width: 80%;
    top: 43%;
  }

  .burger__line:nth-child(3) {
    width: 70%;
    bottom: 0;
  }

  /* BURGER start*/
  .header__nav {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 320px;
    height: 100vh;
    padding: 100px 48px 170px;
    overflow-y: auto;
    background-color: #000000;
    visibility: hidden;
    transform: translateY(-100%);
    opacity: 0;
    transition: 0.3s linear;
  }

  .header__nav--active {
    visibility: visible;
    transform: none;
    opacity: 1;
  }

  .nav__list {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .nav__link {
    font-size: 24px;
    line-height: 29px;
  }




  .login {
    position: absolute;
    z-index: 1000;
    bottom: 50px;
    left: 50px;
    padding: 19px 88px 22px;
    border: 2px solid #9D5CD0;
    border-radius: 100px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s linear;
  }

  .login--active {
    visibility: visible;
    opacity: 1;
  }


  .login__link.focus-visible:not(:active):not(:hover)::after {
    opacity: 0;
  }

  .login__link:hover,
  .login__svg:hover~.login__link,
  .login__link:active,
  .login__svg:active~.login__link,
  .login:hover .login__svg *,
  .login:active .login__svg * {
    color: #ffffff;
    fill: #ffffff;
  }

  .login:focus-within:not(:active):not(:hover) {
    outline: 2px solid #9D5CD0;
    outline-offset: 3px;
  }

  .login:hover {
    background-color: #9D5CD0;
  }

  .login:active {
    background: #7943A4;
    outline: 3px solid #D1A9F0;
    outline-offset: -3px;
  }







  .burger--active .burger__line:nth-child(2) {
    opacity: 0;
  }

  .burger--active .burger__line:first-child {
    top: 50%;
    left: 0;
    transform: rotate(45deg);
  }

  .burger--active .burger__line:last-child {
    width: 36px;
    top: 50%;
    bottom: auto;
    left: 0;
    transform: rotate(-45deg);
  }

  .burger--active .burger__line {
    background-color: #7943A4;
    transform-origin: center;
    transition: 0.3s linear;
  }

  .stop-scroll {
    overflow: hidden;
  }

  /* BURGER finish*/
















  .logo {
    margin: 0;
    min-width: 188px;
    max-height: 42px;
  }

  .logo__img {
    width: 100%;
    max-height: 42px;
  }




  .header__search-div {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 36px;
  }

  .header__search-btn {
    max-height: 29px;
    transition: 0.3s linear;
  }

  .header__search-btn.focus-visible {
    outline: 1px solid var(--purple2);
    outline-offset: 3px;
  }

  .header__search {
    position: absolute;
    z-index: 100;
    top: 0;
    right: -7px;
    align-items: center;
    padding: 7px 6px;
    height: 36px;
    background-color: #000000;
    visibility: hidden;
    transform: translateX(50%);
    opacity: 0;
    transition: .3s linear;
  }

  .header__search--active {
    visibility: visible;
    transform: none;
    opacity: 1;
  }

  .header__search-submit {
    width: 29px;
    height: 29px;
    margin-right: 10px;
    transition: 0.3s linear;
  }

  .header__search-submit.focus-visible {
    outline: 1px solid var(--purple2);
    outline-offset: 4px;
  }

  .header__svg {
    width: 100%;
    height: 100%;
  }


  .header__input {
    width: 218px;
    margin-right: 22px;
    padding: 0;
    padding-bottom: 5px;
    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    color: #CACACA;
    transition: 0.3s linear;
  }


  .header__input.focus-visible,
  .header__input:hover {
    border-bottom: 1px solid var(--purple2);
  }

  .header__input:active {
    border-bottom: 1px solid var(--purple);
  }


  .header__search-close {
    position: relative;
  }

  .header__search-close::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    bottom: -4px;
    right: -4px;
  }

  .header__svg-close * {
    transition: 0.3s linear;
  }

  .header__search-close.focus-visible .header__svg-close *,
  .header__search-close:hover .header__svg-close * {
    fill: #9D5CD0;
  }

  .header__search-close:active .header__svg-close * {
    fill: #7943A4;
  }







  .hero__swiper {
    top: 0;
    height: 100%;
  }

  .hero__content {
    padding: 105px 0 116px;
  }

  .hero__title {
    margin-bottom: -12px;
    line-height: 99px;
  }

  .hero__descr {
    margin-bottom: 132px;
    max-width: calc(660 * 100% / 925);
  }




  .us__title,
  .us__descr {
    max-width: 100%;
  }





  .gallery__LeftRight {
    min-height: 400px;
  }

  .gallery__left-top {
    margin-bottom: 100px;
  }

  .gallery__left-bottom {
    padding-bottom: 35px;
  }


  .gallery__left {
    width: calc(280 * 100% / 925);
  }

  .gallery__select-label {
    margin-bottom: 10px;
  }

  .choices__inner {
    max-height: 40px;
    min-height: 40px;
  }

  .choices[data-type*=select-one]::after {
    top: 25px;
    width: 8px;
    height: 8px;
  }

  .choices[data-type*=select-one].is-open::after {
    transform: rotate(-135deg) translate(5px, -5px);
  }



  .gallery__right {
    width: calc((280 + 280 + 34) * 100% / 925);
  }

  .gallery__navigation {
    margin-bottom: 27px;
  }

  .gallery__slide {
    height: 315px;
  }






  .catalog__title,
  .catalog__descr {
    max-width: 100%;
  }

  .catalog__content-wrap,
  .catalog__accordion {
    width: calc(437 / 925 * 100%);
  }

  .catalog__picture {
    margin-bottom: 18px;
  }

  .accordion__inner-list {
    width: 100%;
    column-count: 2;
  }

  .accordion__inner-item:last-child {
    display: none;
  }

  .accordion__control {
    padding: 41px 150px 41px 0;
  }

  .accordion__content-picture {
    width: calc(189 * 100% / 437);
  }

  .accordion__content-text {
    width: calc(207* 100% /437);
  }

  .accordion__content-descr {
    line-height: 22px;
  }










  .events {
    padding-bottom: 60px;
  }

  .events__picture {
    height: 200px;
  }

  .events__TextLink {
    min-height: 418px;
    padding: 14px 33px 49px;
  }

  .events__location {
    margin-bottom: 4px;
    text-align: end;
  }

  .events__bloc-title {
    margin-bottom: 5px;
    line-height: 33px;
  }

  .events__descr {
    margin-bottom: 10px;
  }


  .events__navigation {
    display: none;
  }

  .events__pagination {
    display: block;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 9px 0 6px;
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: -51px;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #CACACA;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background-color: #666666;
  }





  .projects {
    padding-top: 60px;
  }

  .projects__top {
    max-width: 100%;
  }

  .projects__swiper {
    max-width: calc(818 * 100% / 925);
  }

  .projects__slide {
    min-width: 384px;
    height: 128px;
  }

  .projects__link img {
    max-width: 70%;
  }







  .form {
    width: 100%;
  }

  .form__wrap {
    width: calc(560 * 100% / 925);
}

  #map1 {
    height: 700px;
  }








  .foot {
    padding: 40px 0;
  }

  .soc__item {
    max-height: 60px;
  }

  .soc__svg {
    width: 60px;
    height: 60px;
  }


}
















@media (max-width: 992px) {
  .container {
    max-width: 700px;
  }


  .header__search-div {
    position: static;
  }

  .header__search {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1002;
    padding: 36px;
    height: 100px;
    justify-content: space-between;
  }

  .header__input {
    width: calc(576 * 100% / 666);
  }



  .header__search-btn {
    max-height: 27px;
    max-width: 27px;
  }

  .hero__title,
  .hero__descr {
    max-width: 100%;
  }




  .gallery__LeftRight {
    flex-direction: column;
    gap: 34px;
  }

  .gallery__left,
  .gallery__right {
    width: 100%;
  }

  .gallery__left-top {
    margin-bottom: 40px;
  }

  .gallery__left-bottom {
    padding: 0;
  }

  .gallery__select {
    max-width: 42%;
  }

  .gallery__navigation {
    padding: 0;
  }

  .gallery__slide {
    height: 330px;
  }







  .catalog__wrap {
    flex-direction: column-reverse;
    gap: 50px;
  }

  .catalog__content-wrap,
  .catalog__accordion {
    width: 100%;
  }

  .catalog__descr {
    margin-bottom: 21px;
  }

  .accordion__inner-list {
    column-count: 3;
  }

  .accordion__inner-item:last-child {
    display: inline;
  }

  .catalog__painter-info.js-active {
    gap: 8px;
  }

  .catalog__picture {
    margin-bottom: 12px;
  }






  .events__TextLink {
    padding: 13px 21px 49px 35px;
  }






  .projects__text-link:nth-child(1),
  .projects__text-link:nth-child(3) {
    display: none;
  }

  .projects__text-link:nth-child(2) {
    display: inline;
  }

  .projects__top {
    max-width: 99%;
  }

  .popper__popup {
    max-width: 250px;
  }

  .projects__text-link span {
    display: none;
  }

  .projects__top {
    margin-bottom: 28px;
  }

  .projects__bloc-title {
    margin-bottom: 28px;
  }

  .projects__swiper {
    max-width: calc(561 * 100% / 670);
  }

  .projects__slide {
    min-width: 263px;
    height: 106px;
  }

  .projects__link img {
    max-width: 80%;
  }




  .contacts__content {
    gap: 23px;
  }

  .contacts__address {
    font-size: 14px;
  }

  .form {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  .form__input {
    width: calc(323 * 100% / 670);
  }

  .form__wrap {
    width: 100%;
    margin-bottom: 12px;
  }

  .form__btn {
    padding: 13px 30px;
  }


}














@media (max-width: 580px) {
  .container {
    max-width: 320px;
  }

  body {
    font-size: 16px;
    line-height: 32px;
  }

  .section-offset {
    padding: 50px 0;
  }

  .section-title {
    margin-bottom: 12px;
    font-size: 28px;
    line-height: 38px;
  }







  .burger {
    width: 25px;
    height: 18px;
  }

  .burger__line {
    height: 2px;
  }

  .burger__line:nth-child(2) {
    width: 65%;
  }

  .burger__line:nth-child(3) {
    width: 40%;
  }

  .burger--active .burger__line:last-child {
    width: 100%;
  }

  .header__nav {
    padding: 47px 15px 100px;
  }

  .nav__list {
    gap: 5px;
  }

  .nav__link {
    font-size: 16px;
  }


  .login {
    bottom: 26px;
    left: 15px;
    padding: 11px 30px;
  }

  .login__svg {
    width: 9px;
    height: 9px;
  }

  .login__link {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
  }

  .header__search {
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    height: 45px;
  }


  .header__search-submit {
    width: 18px;
    height: 18px;
  }

  .header__search-close {
    width: 16px;
    height: 16px;
  }

  .header__svg-close {
    width: 100%;
    height: 100%;
  }



  .header__content {
    justify-content: space-between;
    padding: 10px 0;
  }

  .logo {
    margin: 0;
    min-width: 97px;
    max-height: 22px;
  }

  .logo__img {
    width: 100%;
    max-height: 22px;
  }

  .header__search-btn {
    max-height: 18px;
    max-width: 18px;
  }

  .header__search-div {
    min-height: 25px;
  }






  .hero__content {
    align-items: center;
    text-align: center;
    padding: 30px 0 45px;
  }

  .hero__title {
    margin-bottom: 1px;
    font-size: 32px;
    line-height: 44px;
  }

  .hero__descr {
    text-align: center;
    margin-bottom: 42px;
    max-width: 86%;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  .hero__link {
    padding: 11.5px 18px;
    font-size: 12px;
    line-height: 16px;
  }






  .us {
    padding: 50px 0 42px;
  }

  .us__descr {
    font-size: 14px;
    line-height: 28px;
  }







  .gallery {
    padding: 49px 0;
  }

  .gallery__LeftRight {
    gap: 30px;
  }

  .gallery__left-top {
    margin-bottom: 30px;
  }

  .gallery__select {
    max-width: 100%;
  }

  .gallery__select-label {
    margin-bottom: 5px;
  }

  .gallery__right {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }

  .gallery__slide {
    height: 367px;
  }

  .gallery__navigation {
    align-self: center;
    margin: 0;
  }








  .catalog {
    padding-bottom: 25px;
  }

  .catalog__descr {
    display: none;
  }

  .accordion__control {
    padding: 20px 40px 20px 0;
  }

  .accordion__control-text-wrap {
    font-size: 18px;
    line-height: 32px;
  }


  .accordion__content-wrap {
    padding: 20px 0;
  }

  .accordion__content-picture {
    width: calc(80 * 100% / 290);
    min-height: 130px;
  }

  .accordion__content-picture::after {
    border: 6px solid var(--white);
  }

  .accordion__content-text {
    width: calc(174 * 100% / 290);
  }

  .accordion__content-title {
    font-size: 18px;
  }

  .head-icon {
    width: 30px;
    height: 30px;
  }

  .accordion__inner-list {
    column-count: 1;
  }

  .accordion__inner-item:last-child {
    display: none;
  }


  .catalog__painter-info.js-active {
    gap: 0;
  }

  .catalog__painter-life {
    font-size: 13px;
  }

  .catalog__picture {
    margin-bottom: 20px;
  }

  .catalog__painter-name {
    margin-bottom: 8px;
  }

  .catalog__painter-life {
    margin-bottom: 13px;
  }

  .catalog__painter-descr {
    line-height: 32px;
  }







  .events {
    padding: 25px 0 38px;
  }

  .events__TextLink {
    padding: 17px 18px 49px 22px;
  }

  .events__location {
    margin-bottom: 10px;
    font-size: 11px;
  }

  .events__link {
    padding-left: 5px;
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -38px;
  }





  .projects__text-link:nth-child(1),
  .projects__text-link:nth-child(2) {
    display: none;
  }

  .projects__text-link:nth-child(3) {
    display: inline;
  }

  .projects {
    padding: 40px 0 25px;
  }

  .projects__top {
    margin-bottom: 51px;
  }

  .projects__bloc-title {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .popper__popup {
    max-width: 150px;
  }

  .projects__swiper {
    max-width: calc(195 * 100% / 290);
  }

  .projects__slide {
    min-width: 195px;
    height: 65px;
  }

  .projects__link img {
    max-width: 53%;
  }







  .contacts {
    border: none;
  }

  .contacts__content {
    padding: 23px 0;
    gap: 14px;
  }

  .contacts__place {
    margin-bottom: -6px;
    font-size: 18px;
  }

  .form__wrap {
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    margin-bottom: 20px;
  }

  .form__input {
    width: 100%;
  }

  .name,
  .tel {
    padding: 9px 24px;
  }

  .form__btn {
    padding: 13px 35px;
    font-size: 12px;
    line-height: 16px;
  }

  .form__btn span {
    display: none;
  }

  .messenger__bloc-title {
    font-weight: 400;
    font-size: 18px;
  }

  .messenger__link svg {
    width: 50px;
    height: 50px;
  }







  #map1 {
    height: 328px;
  }







  .foot {
    padding: 20px 0;
  }

  .foot__soc {
    flex-direction: column-reverse;

  }

  .soc__list {
    margin-bottom: 10px;
  }

  .soc__svg {
    width: 50px;
    height: 50px;
  }

  .foot__logo {
    max-height: 21px;
    max-width: 96px;
  }



}






