html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus-visible {
  outline: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'Open Sans';
  src: local('OpenSans-Italic'),
    url('../fonts/OpenSans-Italic.woff2') format('woff2'),
    url('../fonts/OpenSans-Italic.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local('OpenSans-Regular'),
    url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local('OpenSans-SemiBold'),
    url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
    url('../fonts/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local('OpenSans-Bold'),
    url('../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


:root {
  --white: #ffffff;
  --gray1: #ECECEC;
  --gray: #CACACA;
  --black3: #999999;
  --black2: #666666;
  --black1: #333333;
  --black: #000000;
  --purple3: #D1A9F0;
  --purple2: #C283F3;
  --purple1: #9D5CD0;
  --purple: #7943A4;
  --green: #30BF39;
  --blue: #26A5E4;
  --red: #D11616;
  --gap1: 15px;
  --gap2: 50px;
  --b-radius: 100px;
}

body {
  min-width: 320px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--black);
  background-color: var(--white);
}



/* glob */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.section-offset {
  padding: 80px 0;
}

.flex {
  display: flex;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1630px;
}

.section-title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 48px;
  font-weight: 400;
  line-height: 65px;
}

.bloc-title {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.section-descr {
  margin: 0;
}

/* state btn start */
.btn {
  position: relative;
  border-radius: var(--b-radius);
  text-align: center;
  color: var(--white);
  background-color: var(--purple1);
  transition: 0.3s linear;
}

.btn::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  left: -5px;
  bottom: -5px;
  border-radius: inherit;
  border: 2px solid var(--purple2);
  opacity: 0;
  transition: 0.3s linear;
}

.btn:focus-visible:not(:hover):after {
  opacity: 1;
}

.btn:hover {
  outline: 2px solid var(--purple3);
  outline-offset: -2px;
}

.btn:active {
  background-color: var(--purple);
}


/* state btn finish */










/* header  */
.header {
  background-color: var(--black);
  color: var(--white);
}

.header__content {
  align-items: center;
  padding: 30px 0;
}

.burger {
  display: none;
}

.logo {
  margin-right: 180px;
  max-height: 40px;
}

.header__nav {
  margin-right: auto;
}

.nav__list {
  gap: 62px;
}

/* state nav__link start */
.nav__item {
  position: relative;
  z-index: 1;
}

.nav__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  transition: 0.3s linear;
}

.nav__link::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 2px;
  bottom: 0;
  right: -6px;
  left: -6px;
  background: var(--purple);
  opacity: 0;
  transition: 0.3s linear;
}

.nav__link:focus-visible:not(:active):not(:hover)::after {
  opacity: 1;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.nav__link:hover {
  color: var(--purple2);
}

.nav__link:active {
  color: var(--purple);
}

/* state nav__link finish */


/* state login start */
.login {
  position: relative;
  z-index: 1;
  align-items: center;
  gap: 7px;
  cursor: pointer;
}

.login__svg * {
  fill: var(--white);
  transition: 0.3s linear;
}

.login__link {
  font-size: 18px;
  line-height: 25px;
  transition: 0.3s linear;
}

.login__link::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -2px;
  bottom: -3px;
  right: -6px;
  left: -6px;
  background: var(--purple);
  opacity: 0;
  transition: 0.3s linear;
}

.login__link:focus-visible:not(:active):not(:hover)::after {
  opacity: 1;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.login__link:hover,
.login__svg:hover~.login__link {
  color: var(--purple2);
}

.login__link:active,
.login__svg:active~.login__link {
  color: var(--purple1);
}


.login:hover .login__svg * {
  fill: var(--purple2);
}

.login:active .login__svg * {
  fill: var(--purple1);
}

/* state login finish */










/* header2  */
.header2 {
  background-color: rgba(0, 0, 0, 0.5);
}

.header2__RouteSerch {
  justify-content: space-between;
  align-items: center;
  padding: 23px 0;
}

.route-list {
  gap: 96px;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
}

.route__item {
  position: relative;
}


/* state route__btn start */
.route__btn {
  position: relative;
  z-index: 1;
  align-items: center;
  gap: 5px;
  color: var(--white);
  transition: 0.3s linear;
}

.route__svg * {
  stroke: var(--white);
  transition: 0.3s linear;
}

.route__btn::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: -5px;
  right: -6px;
  left: -6px;
  background: var(--purple);
  opacity: 0;
  transition: 0.3s linear;
}

.route__btn:focus-visible:not(:active):not(:hover)::after {
  opacity: 1;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.route__btn--active:focus-visible:not(:active):not(:hover)::after {
  opacity: 0;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.route__btn:hover {
  color: var(--purple1);
}

.route__btn:hover .route__svg * {
  stroke: var(--purple1);
}

.route__btn--active {
  color: var(--purple);
}

.route__btn--active .route__svg * {
  stroke: var(--purple);
  transform-origin: center;
  transform: rotateX(180deg);
}

/* state route__btn finish */



.dropdown {
  position: absolute;
  left: 0;
  top: calc(100% + 25px);
  transform: translateY(-100%);
  visibility: hidden;
  opacity: 0;
  transition: .3s linear;
}

.dropdown__list {
  padding: 40px;
  width: 300px;
  height: 300px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  background-color: rgba(0, 0, 0, 0.5);
}

.dropdown--active {
  opacity: 1;
  transform: none;
  visibility: visible;
}



.dropdown__item:not(:last-child) {
  margin-bottom: 20px;
}

.dropdown__realism1 {
  background: url('../img/h-real1.jpg');
}

.dropdown__realism2 {
  background: url('../img/h-real2.jpg');
}

.dropdown__realism3 {
  background: url('../img/h-real3.jpg');
}

.dropdown__realism4 {
  background: url('../img/h-real4.jpg');
}


.dropdown__impres1 {
  background: url('../img/h-impres1.jpg');
}

.dropdown__impres2 {
  background: url('../img/h-impres2.jpg');
}

.dropdown__impres3 {
  background: url('../img/h-impres3.jpg');
}

.dropdown__impres4 {
  background: url('../img/h-impres4.jpg');
}


.dropdown__post-impres1 {
  background: url('../img/h-post-impres1.jpg');
}

.dropdown__post-impres2 {
  background: url('../img/h-post-impres2.jpg');
}

.dropdown__post-impres3 {
  background: url('../img/h-post-impres3.jpg');
}

.dropdown__post-impres4 {
  background: url('../img/h-post-impres4.jpg');
}


.dropdown__vang1 {
  background: url('../img/h-vang1.jpg');
}

.dropdown__vang2 {
  background: url('../img/h-vang2.jpg');
}

.dropdown__vang3 {
  background: url('../img/h-vang3.jpg');
}

.dropdown__vang4 {
  background: url('../img/h-vang4.jpg');
}


.dropdown__futur1 {
  background: url('../img/h-futur1.jpg');
}

.dropdown__futur2 {
  background: url('../img/h-futur2.jpg');
}

.dropdown__futur3 {
  background: url('../img/h-futur3.jpg');
}

.dropdown__futur4 {
  background: url('../img/h-futur4.jpg');
}

.dropdown__item {
  position: relative;
  padding: 10px 14px;
  min-width: 220px;
  background-color: var(--black2);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: .3s linear;
}

/* увеличили зону клик */
.dropdown__link::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}


/* state  start */
.dropdown__item:focus-within,
.dropdown__item:hover {
  outline: 2px solid var(--purple1);
}

.dropdown__item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  opacity: 0, 7;
  visibility: hidden;
  transition: .3s linear;
}

.dropdown__item:active::after {
  visibility: visible;
}

/* state  finish */



/* SCROLL на случай отключения js кода! */
.simplebar-content-wrapper {
  scrollbar-width: auto;
  -ms-overflow-style: auto;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  display: initial;
  width: initial;
  height: initial;
}

.simplebar-track.simplebar-vertical {
  top: 40px;
  right: 19px;
  width: 2px;
  height: 216px;
  background: var(--black);
}

.simplebar-scrollbar::before {
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: 0;
  width: 2px;
  background: var(--white);
}

.dropdown__list:hover .simplebar-scrollbar::before,
.simplebar-scrolling .simplebar-scrollbar::before {
  opacity: 1;
}




.header2__search {
  gap: 9px;
}

/* state  start */
.header2__search-submit {
  transition: 0.3s linear;
}

.header2__search-submit:focus-visible {
  outline: 1px solid var(--purple2);
  outline-offset: 4px;
}


.header2__input {
  min-width: 218px;
  border: none;
  border-bottom: 1px solid var(--white);
  background: transparent;
  color: var(--white);
  cursor: pointer;
  transition: 0.3s linear;
}

.header2__input::placeholder {
  color: var(--white);
  transition: 0.3s linear;
}

.header2__input:focus-visible {
  border-bottom: 1px solid var(--purple2);
}

.header2__input:hover {
  border-bottom: 1px solid var(--purple2);
}

.header2__input:active {
  border-bottom: 1px solid var(--purple);
}

.header2__input:active::placeholder {
  color: transparent;
}

/* state  finish */









/* section hero*/
.hero {
  position: relative;
  /* z-index: 100; */
  color: var(--white);
}

.hero__content {
  position: relative;
  z-index: 100;
  padding: 63px 0 122px;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 700;
}

.hero__title {
  margin: 0 0 1px;
  max-width: calc(600 * 100% / 1600);
  font-size: 72px;
  line-height: 98px;
}

.hero__descr {
  margin-bottom: 90px;
  max-width: calc(580 * 100% / 1600);
  font-size: 18px;
  line-height: 30px;
}

.hero__link {
  padding: 22px 35px;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.hero__swiper {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero__slide1 {
  background: var(--black3) url("../img/hero1.jpg") no-repeat center /cover;
}

.hero__slide2 {
  background: var(--black3) url("../img/hero2.jpg") no-repeat center /cover;
}

.hero__slide3 {
  background: var(--black3) url("../img/hero3.jpg") no-repeat center /cover;
}












/* us section */
.us__descr {
  max-width: calc(1080 * 100% / 1600);
}











/* gallery section */
.gallery {
  background: var(--black) url("../img/gallery-background.jpg") no-repeat center /cover;
  color: var(--white);
}

.gallery__LeftRight {
  min-height: 400px;
  gap: 50px;
}

.gallery__left {
  flex-direction: column;
  justify-content: space-between;
  width: calc(400 * 100% / 1600);
}

.gallery__select {
  flex-direction: column;
}

.gallery__select-label {
  font-weight: 600;
}



.choices__inner {
  padding: 3px 15px 15px 15px;
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.is-open .choices__inner {
  position: relative;
  z-index: 5;
  border: 1px solid var(--white);
  border-radius: 6px;
}

.choices__list--single {
  padding: 0;
}

.choices[data-type*=select-one]::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 10px;
  width: 10px;
  height: 10px;
  border: solid var(--white);
  border-width: 0 1px 1px 0;
  transform: rotate(45deg) translate(-10px, 0);
  transition: 0.3s linear;
}

.choices[data-type*=select-one].is-open::after {
  z-index: 10;
  border-color: var(--white);
  transform: rotate(-135deg) translate(0, -10px);
}

.is-open .choices__list[aria-expanded='true'] {
  border-radius: 6px;
}

.is-open .choices__list--dropdown {
  background-color: transparent;
  border-color: var(--black3);
}

.choices .choices__inner:hover,
.choices .choices__inner:focus-visible {
  border: 1px solid var(--white);
  background: rgba(255, 255, 255, 0.2);
}

.choices.is-focused {
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.2);
  outline: 1px solid var(--white);
  outline-offset: -1px;
}

.choices.is-open {
  background-color: transparent;
}



.choices__list--dropdown .choices__item[data-value="Живопись"] {
  display: none;
}

.choices__item:not(:last-child) {
  border-bottom: 1px solid var(--black3);
}

.choices__list[aria-expanded] .choices__item--selectable {
  padding: 6px 20px;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted[aria-selected] {
  background: rgba(255, 255, 255, 0.2);
}

.choices__list--dropdown .choices__item--selectable[aria-selected="false"] {
  color: var(--black3);
}















.gallery__left-bottom {
  flex-direction: column;
  gap: 20px;
}

.checkbox {
  user-select: none;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0)
    /* если исп ширина и высота по нулям можно обойтись без CLIP и margin?
	визуально это так */
}

.checkbox__span {
  position: relative;
  padding-left: 24px;
  transition: .3s linear;
}

.checkbox__span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 20%;
  width: 12px;
  height: 12px;
  border: 1px solid var(--white);
  transition: .3s linear;
}

.checkbox__span::after {
  content: '';
  position: absolute;
  left: 4px;
  top: 37%;
  width: 4px;
  height: 4px;
  background-color: var(--purple);
  border-radius: 100%;
  opacity: 0;
  transition: .3s linear;
}


.checkbox__input:focus-visible+.checkbox__span::before {
  border: 1px solid var(--purple);
}

.checkbox__input:focus-visible:not(:hover)+.checkbox__span {
  color: var(--purple);
}

.checkbox__input:hover+.checkbox__span::before {
  border: 1px solid var(--purple);
}

.checkbox__input:checked+.checkbox__span::before {
  border: 1px solid var(--purple);
}

.checkbox__input:checked+.checkbox__span::after {
  opacity: 1;
}

.checkbox__input:checked:not(:hover)+.checkbox__span {
  color: var(--purple);
}













/* .gallery__swiper {
  position: relative;
  width: 100%;
  align-self: flex-end;
  border: 1px solid white;
  cursor: pointer;
}

.gallary__img {
  width: 350px;
  height: 350px;
}

.gallary__img img {
  margin: 0;
}

.gallery__swiper .swiper-button-prev,
.gallery__swiper .swiper-button-next {
  margin-top: 0;
  top: -20%;
  width: 30px;
  height: 30px;
}

.gallery__swiper .swiper-button-prev {
  left: 0;
}

.gallery__swiper .swiper-button-next {
  left: 11%;
}


.gallery__swiper .swiper-button-prev::after {
  content: url('../img/gallery__arrow-prev-defolt.svg');
}

.gallery__swiper .swiper-button-next::after {
  content: url('../img/gallery__arrow-next-defolt.svg');
}


.gallery__swiper .swiper-pagination-fraction {
  color: var(--white);
  top: -20%;
  left: 5%;
  width: 50px;
} */




.gallery__right {
  width: calc(1150 * 100% / 1600);
}

.gallery__navigation {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 30px;
}

.gallery__pagination {
  text-align: center;
  color: var(--white);
}

.gallery__btn {
  position: relative;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  background-color: var(--black2);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s linear;
}

.gallery__btn::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 11px;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  transform-origin: center;
}

.gallery__btn-prev::before {
  border-left: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
}
.gallery__btn-next::before {
  border-top: 1px solid var(--white);
  border-right: 1px solid var(--white);
}

.gallery__btn.swiper-button-disabled {
  cursor: auto;
  opacity: 0.4;
}
.gallery__btn.swiper-button-disabled:hover,
.gallery__btn.swiper-button-disabled:active {
  background-color: var(--black2);
  outline: none;
}


.gallery__btn:focus-visible:not(:hover) {
  outline: 2px solid var(--black);
  outline-offset: -2px;
}
.gallery__btn:hover {
  background-color: var(--purple1);
}
.gallery__btn:active {
  background-color: var(--purple);
  outline: 2px solid var(--black);
  outline-offset: -2px;
}



.gallery__swiper {
  overflow: hidden;
}

.gallery__slide {
  overflow: hidden;
}

.gallery__slide::before {
  content: "";
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  display: block;
  padding-top: calc(100% - 6px);
  border: 3px solid transparent;
  transition: .3s linear;
}

.gallery__slide::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 25px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5) url("../img/zoom.svg") no-repeat center center / 80px;
  background-clip: content-box;
  transition: .5s linear;
}

.gallery__slide:focus-visible::before {
  border-color: var(--purple);
}
.gallery__slide:hover::after,
.gallery__slide:active::after {
  opacity: 1;
}

.gallery__slide:hover::before {
  border-color: transparent;
}

.gallery__slide:active::before {
  border-color: transparent;
  background-color: rgba(194, 131, 243, 0.4);
}

.gallery__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}





















/* catalog section */
.catalog {
  padding-bottom: 40px;
}

.catalog__descr {
  max-width: calc(1080 * 100% / 1600);
  margin-bottom: var(--gap2);
}

.catalog__ArtistAccordion {
  justify-content: space-between;
}

.catalog__list {
  flex-basis: calc(800 * 100% / 1600);
}

.accordion__control {
  justify-content: space-between;
  width: 100%;
}




.catalog__artist-list {
  flex-basis: calc(750 * 100% / 1600);
}

.catalog__artist {
  flex-direction: column;
}

.artist__picture {
  margin-bottom: 30px;
}

.artist__name {
  margin: 0 0 15px;
}

.artist__life {
  margin: 0 0 15px;
}







/* events section */
.events__slide {
  flex-direction: column;
  max-width: calc(500 * 100% / 1600);
  border: 1px solid black;
}

.events__TextLink {
  flex-direction: column;
  padding: 13px 50px 48px;
}

.events__location {
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.events__bloc-title {
  margin-bottom: 10px;
}

.events__descr {
  margin-bottom: 65px;
}

.events__link {
  position: relative;
  align-self: flex-start;
  color: var(--purple1);
  border-bottom: 1px solid var(--purple1);
  transition: 0.3s linear;
}

.events__link::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 2px;
  bottom: -5px;
  right: -8px;
  left: -8px;
  background: var(--purple1);
  opacity: 0;
  transition: 0.3s linear;
}

.events__link:focus-visible:not(:active):not(:hover) {
  color: var(--white);
  border-bottom: 1px solid var(--white);
}

.events__link:focus-visible:not(:active):not(:hover)::after {
  opacity: 1;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.events__link:hover {
  color: var(--purple);
  border-bottom: 1px solid var(--purple);
}

.events__link:active {
  color: var(--black);
  border-bottom: 1px solid var(--black);
}







/* projects section  */
.projects {
  padding-bottom: 80px;
}

.projects__top {
  max-width: calc(1080 * 100% / 1600);
  margin-bottom: 30px;
}

.projects__btn {
  position: relative;
  height: 16px;
}

.projects__btn::before {
  content: "";
  position: absolute;
  top: -10px;
  bottom: -10px;
  right: -10px;
  left: -10px;
}

.projects__btn * {
  transition: .3s linear;
}

.popper__popup {
  max-width: 350px;
  padding: 5px;
  margin-bottom: 20px;
  font: 600 12px / 20px 'Open Sans';
  text-align: center;
  color: var(--white);
  background: var(--black2);
  opacity: 0;
  transform: scale(-1, 0.2);
  transition: .3s linear;
}

.popper__popup::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border: 5px solid transparent;
  border-color: var(--black2) transparent transparent transparent;
}








/* state  start */
.popper__svg-back {
  fill: transparent;
  stroke: var(--purple1);
}

.popper__svg-i {
  fill: var(--black);
}

.projects__btn:focus-visible .popper__svg-back,
.projects__btn:hover .popper__svg-back {
  fill: var(--purple3);
}

.projects__btn:active .popper__svg-back {
  fill: var(--purple1);
  stroke: var(--purple1);
}

.projects__btn:active .popper__svg-i {
  fill: var(--white);
}

.projects__btn:focus-visible+.popper__popup,
.projects__btn:hover+.popper__popup,
.projects__btn:active+.popper__popup {
  opacity: 1;
  transform: scale(1, 1);
}

/* state  finish */


.projects__text-link {
  position: relative;
  border-bottom: 1px solid transparent;
  color: var(--purple1);
  transition: 0.3s linear;
}

.projects__text-link::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -2px;
  bottom: -2px;
  right: -6px;
  left: -6px;
  background: var(--purple);
  opacity: 0;
  transition: 0.3s linear;
}


.projects__text-link:focus-visible:not(:active):not(:hover) {
  color: var(--white);
}

.projects__text-link:focus-visible:not(:active):not(:hover)::after {
  opacity: 1;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.projects__text-link:hover {
  border-bottom: 1px solid var(--purple1);
  color: var(--purple1);
}

.projects__text-link:active {
  border-bottom: 1px solid var(--purple);
  color: var(--purple);
}



.projects__bottom {
  flex-direction: column;
  position: relative;
}


.projects__bloc-title {
  margin-bottom: 23px;
}

.projects__slide {
  min-width: 450px;
  height: 150px;
  outline: 1px solid var(--gray);
  outline-offset: -1px;
  transition: 0.3s linear;
}

.projects__link {
  min-width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  filter: grayscale(100%);
  opacity: 0.5;
  transition: 0.3s linear;
}

.projects__slide:focus-within:not(:hover),
.projects__slide:active {
  outline: 1px solid var(--purple1);
}

.projects__link:hover,
.projects__link:active {
  filter: grayscale(0%);
  opacity: 1;
}


.projects__swiper {
  max-width: calc(1450 * 100% / 1600);
  min-width: 0;
}




.projects__swiper .swiper-button-prev {
left: 5px;
}
.projects__swiper .swiper-button-next {
right: 5px;
}

.projects__swiper .swiper-button-prev::after {
  /* content: url('..img/projects__arrow-prev-def.svg'); */
}

.projects__swiper .swiper-button-next::after {
  /* content: url('..img/projects__arrow-next-def.svg'); */
}












/* contacts section */
.contacts {
  border: 1px solid var(--black);
}

.contacts__content {
  padding: 38px 0;
  align-items: center;
  justify-content: space-between;
}

.contacts__PlaceAddress {
  flex-direction: column;
}

.contacts__place {
  font-weight: 600;
  font-size: 24px;
}




.form {
  gap: 20px;
  padding: 14px 0;
}

.form__input {
  display: flex;
  flex-direction: column-reverse;
  cursor: pointer;
}

.name,
.tel {
  padding: 15px 25px;
  border: 1px solid #333333;
  border-radius: 100px;
  font-weight: 400;
  color: var(--black1);
  cursor: pointer;
  transition: 0.3s linear;
}

.name::placeholder,
.tel::placeholder {
  color: var(--black3);
}

.js-validate-error-field {
  max-height: 40px;
  border: 1px solid var(--red);
}

.js-validate-error-label {
  padding: 0 0 2px 25px;
  font-size: 12px;
  line-height: 16px;
  color: var(--red);
}

.name:hover,
.tel:hover,
.name:focus-visible,
.tel:focus-visible {
  background-color: var(--gray1);
}

.name:active,
.tel:active {
  background-color: transparent;
}


.form__btn {
  padding: 12px 35px;
  outline: 2px solid var(--purple1);
  outline-offset: -2px;
  background-color: transparent;
  color: var(--purple1);
  transition: 0.3s linear;
}

.form__btn:hover {
  background-color: var(--purple1);
  color: var(--white);
}

.form__btn:active {
  outline: 2px solid var(--purple3);
  background-color: var(--purple);
  color: var(--white);
}















.messenger__bloc-title {
  margin-bottom: 6px;
}

.messenger__list {
  gap: 20px;
}

.messenger__item {
  position: relative;
  max-height: 40px;
}

.messenger__link::before {
  content: "";
  position: absolute;
  top: -5px;
  bottom: -5px;
  right: -5px;
  left: -5px;
}

/* state  start */
.messenger__link * {
  transition: 0.3s linear;
}

.whatsapp-svg-color {
  fill: var(--green);
}

.twitter-svg-color {
  fill: var(--blue);
}

.messenger__link:focus-visible .whatsapp-svg-color,
.messenger__link:focus-visible .twitter-svg-color,
.messenger__link:hover .whatsapp-svg-color,
.messenger__link:hover .twitter-svg-color {
  opacity: 0.5;
}

.messenger__link:active .whatsapp-svg-color,
.messenger__link:active .twitter-svg-color {
  opacity: 1;
  stroke: var(--purple1);
}

/* state  finish */


#map1 {
  width: 100%;
  height: 700px;
}

[class*="ground-pane"] {
  filter: grayscale(100%);
}

[class*="zoom__scale"] {
  display: none;
}

[class*="zoom__plus"] {
  top: 150px;
}













/* footer */
.foot {
  background-color: #000000;
  padding: 50px 0;
}

.soc {
  align-items: center;
  justify-content: space-between;
}

.foot__logo {
  max-height: 40px;
}

.soc__list {
  gap: 20px;
}

.soc__item {
  position: relative;
  max-height: 45px;
}

.soc__link::before {
  content: "";
  position: absolute;
  top: -5px;
  bottom: -5px;
  right: -5px;
  left: -5px;
}

.soc__link * {
  fill: #CACACA;
  transition: 0.3s linear;
}

/* state  start */
.soc__link:focus-visible * {
  fill: var(--white);
}

.soc__link:hover * {
  fill: var(--white);
}

.soc__link:active * {
  fill: var(--purple1);
}

/* state  finish */
